.profile {
  width: 100%;
  display: grid;
  /* align-content: center; */
  /* justify-content: center; */
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(auto-fit, auto); */

  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .profile {
    /* width: 92%; */
  }
}

@media screen and (max-width: 320px) {
  .profile {
    /* margin-top: 5px;
      margin-bottom: 5px;
      width: 94%; */
  }
}

.profile__title {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 70px;
  margin-bottom: 107px;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin-top: 232px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 420px) {
  .profile__title {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}

/* .profile__form-input {
  height: 27px;
  width: 358px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 0;
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
   position: relative; 
}

@media screen and (max-width: 965px) {
  .popup__form-input {
    width: 238px;
    height: 27px; 
  }
}

.popup__form-input:focus{
  outline: none;

} */

.profile__input {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 410px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  border: 0;
}

@media screen and (max-width: 420px) {
  .profile__input {
    width: 260px;
  }
}

.borderLine {
  width: 410px;
  border-bottom: 1px solid #e8e8e8;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 420px) {
  .borderLine {
    width: 260px;
  }
}


.profile__button-edit {
  border: none;
  background-color: #fff;
  margin-top: 203px;
  /* margin-bottom: 5px; */
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

@media screen and (max-width: 768px) {
  .profile__button-edit {
    margin-top: 193px;
  }
}

@media screen and (max-width: 420px) {
  .profile__button-edit {
    margin-top: 360px;
  }
}

.profile__button-output {
  border: none;
  background-color: #fff;
  margin-top: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  color: #ff3055;
}
