.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  /* min-width: 320px; */
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-project__heading {
  width: 89%;
  height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -1px;
  text-align: left;
  color: #000;
  margin: 0;
  margin-top: 110px;
  margin-bottom: 23px;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .about-project__heading {
    width: 87%;
    margin-top: 92px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__heading {
    width: 89%;
    margin-top: 73px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1px;
  }
}

.about-project__blocks-title {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  /* flex-wrap: wrap; */
  margin-top: 28px;
}

.about-project__blocks-title div:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .about-project__blocks-title {
    width: 87%;
  }
}

@media screen and (max-width: 402px) {
  .about-project__blocks-title {
    flex-wrap: wrap;
    justify-content: center;
    width: 89%;
    margin-top: 19px;
  }
}

.about-project__block-title {
  width: 42%;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .about-project__block-title {
    width: 42%;
    margin-right: 66px;
  }
}

@media screen and (max-width: 402px) {
  .about-project__block-title {
    width: 89%;
    min-width: 284px;
    margin-right: 0;
  }
}

.about-project__block-title-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.8px;
  margin: 0;
  margin-top: 18px;
}

@media screen and (max-width: 320px) {
  .about-project__block-title-heading {
    font-size: 18px;
    line-height: 22px;
  }
}

.about-project__block-title-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .about-project__block-title-title {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__block-title-title {
    font-size: 11px;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 39px;
  }
}

.about-project__timeline {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  margin-top: 96px;
}

@media screen and (max-width: 768px) {
  .about-project__timeline {
    margin-top: 80px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__timeline {
    margin-top: 22px;
  }
}

.about-project__timeline-backend {
  width: 20%;
  background-color: #2be080;
}

@media screen and (max-width: 320px) {
  .about-project__timeline-backend {
    width: 35%;
  }
}

.about-project__timeline-frontend {
  width: 80%;
  background-color: #f2f2f2;
}

@media screen and (max-width: 320px) {
  .about-project__timeline-frontend {
    width: 65%;
  }
}

.about-project__timeline-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 360px) {
  .about-project__timeline-title {
    font-size: 11px;
    line-height: 13.3px;
  }
}

.white-background {
  background-color: #fff;
}

.edit-margin {
  margin-top: 4px;
  margin-bottom: 98px;
}

@media screen and (max-width: 768px) {
  .edit-margin {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 320px) {
  .edit-margin {
    margin-bottom: 57px;
  }
}