.navigation {
  display: grid;
  grid-template-columns: 32.29% 67.7%;
  grid-template-rows: 100%;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; */
  transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
}

@media screen and (max-width: 420px) {
  .navigation {
    grid-template-columns: 0 100%;
  }
}

.navigation__show{
  transition: all 0.3s ease;
	opacity: 1;
	visibility: visible;
}

.navigation__cover {
  background-color: rgba(0, 0, 0, 0.5);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.navigation-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 57px 126px 50px 50px 673px;
  align-items: flex-end;
  justify-items: center;
  background-color: #fff;
  opacity: 1;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;
}

@media screen and (max-width: 420px) {
  .navigation-menu {
    grid-template-rows: 48px 119px 48px 45px 494px;
  }
}

.navigation-menu__exit {
  justify-self: end;
  border: none;
  background-color: #fff;
  margin-right: 17px;
}

@media screen and (max-width: 420px) {
  .navigation-menu__exit {
    margin-right: 8px;
  }
}

.navigation-menu__imageExit {
  width: 30px;
  height: 30px;
}

.navigation-menu__imageExit:hover{
  opacity: 0.6;
  cursor: pointer;
}

.navigation-menu__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #000;

}

.navigation-menu__link:hover{
  opacity: 0.6;
  cursor: pointer;
}

.navigation-menu__link-active {
  border-bottom: 2px solid #000 ;
}

.navigation-menu__imageProfile {
  width: 128px;
  height: 58px;
}

.navigation-menu__border-bottom-main {
  width: 58px;
  border-bottom: 2px solid #000;
}

.navigation-menu__border-bottom-movies {
  width: 70px;
  border-bottom: 2px solid #000;
}

.navigation-menu__border-bottom-savemovies {
  width: 196px;
  border-bottom: 2px solid #000;
}
