.navigation {
  display: grid;
  grid-template-columns: 32.29% 67.7%;
  grid-template-rows: 100%;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 420px) {
  .navigation {
    grid-template-columns: 0 100%;
  }
}

.navigation__cover {
  background-color: rgba(0, 0, 0, 0.5);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.navigationMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 57px 126px 8px 40px 8px 40px 8px 665px;
  align-items: flex-end;
  justify-items: center;
  background-color: #fff;
  opacity: 1;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;
}

@media screen and (max-width: 420px) {
  .navigationMenu {
    grid-template-rows: 48px 119px 8px 38px 8px 38px 8px 487px;
  }
}

.navigationMenu__exit {
  justify-self: end;
  border: none;
  background-color: #fff;
  margin-right: 17px;
}

@media screen and (max-width: 420px) {
  .navigationMenu__exit {
    margin-right: 8px;
  }
}

.navigationMenu__imageExit {
  width: 30px;
  height: 30px;
}

.navigationMenu__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #000;
}

.navigationMenu__imageProfile {
  width: 128px;
  height: 58px;
}

.navigationMenu__border-bottom-main {
  width: 58px;
  border-bottom: 2px solid #000;
}

.navigationMenu__border-bottom-movies {
  width: 70px;
  border-bottom: 2px solid #000;
}

.navigationMenu__border-bottom-savemovies {
  width: 196px;
  border-bottom: 2px solid #000;
}
