.savedMovies {
  width: 89%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .savedMovies {
    width: 92%;
  }
}

@media screen and (max-width: 320px) {
  .savedMovies {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 94%;
  }
}
