.filter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin-top: 26px;
}

@media screen and (max-width: 500px) {
  .filter-checkbox {
    margin-top: 45px;
  }
}

.filter-checkbox__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin: 0;
  margin-left: 13px;
}

@media screen and (max-width: 500px) {
  .filter-checkbox__title {
    font-size: 11px;
    line-height: 18px;
  }
}

.filter-checkbox__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
