.filterCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  .filterCheckbox {
    margin-top: 45px;
  }
}

.filterCheckbox__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin: 0;
  margin-left: 13px;
  /* margin-top: 10px;
  margin-bottom: 14px; */
}

@media screen and (max-width: 500px) {
  .filterCheckbox__title {
    font-size: 11px;
    line-height: 18px;
  }
}

.filterCheckbox__button {
  width: 36px;
  height: 20px;

}
