.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #073042;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header_back-color-movie {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header__image {
  margin-top: 18px;
  margin-bottom: 18px;
}

.header__button {
  display: flex;
  width: 76px;
  height: 32px;
  background-color: #2be080;
  color: white;
  align-items: center;
  border-radius: 2px;
  text-decoration: none;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .header__button {
    width: 56px;
    height: 26px;
    font-size: 10px;
    line-height: 16px;
  }
}

.header__signup-block {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.header__signup-block_active{
  font-weight: 500;
}

.header__signup-block a:last-of-type {
  margin-right: 0px;
  margin-left: 0px;
}

.header__signup {
  color: #fff;
  margin: 0;
  margin-right: 30px;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header__signup {
    margin-right: 14px;
    font-size: 10px;
    line-height: 16px;
  }
}

.header__link-movies {
  color: #000;
  margin: 0;
  margin-right: 16px;
  margin-left: 77px;
  text-decoration: none;
}

.header__section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header__signin {
}

.header__signin-link {
  width: 100px;
  height: 32px;
  margin-bottom: 26px;
  margin-right: 14px;
}
