.footer__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}

.footer {
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  width: 89%;
  justify-content: center;
  max-width: 1140px;
  min-width: 320px;
  margin-top: 166px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 129px;
    width: 94%;
    grid-column-gap: 17px;
  }
}

@media screen and (max-width: 370px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-rows: repeat(5, auto);
    margin-top: 114px;
  }
}

.footer__heading {
  width: 100%;
  min-height: 35px;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 370px) {
  .footer__heading {
    grid-column-end: 1;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 28px;
  }
}

.footer__link {
  color: #000;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer__link {
    margin-top: 22px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 370px) {
  .footer__link {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.footer__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 9px;
}

@media screen and (max-width: 768px) {
  .footer__title {
    margin-top: 22px;
    margin-left: 6px;
  }
}

@media screen and (max-width: 370px) {
  .footer__title {
    grid-row-start: 5;
    grid-row-end: 5;
    margin-top: 25px;
    margin-bottom: 9px;
  }
}
