.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin-top: 56px;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-top: 72px;
  }
}

@media screen and (max-width: 500px) {
  .search-form {
    height: 44px;
    margin-top: 84px;
  }
}

.search-form__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #a0a0a0;
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 14px;
}

@media screen and (max-width: 500px) {
  .search-form__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
}

.search-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 34px;
  border-radius: 20px;
  background-color: #3456f3;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}

.search-form__button:hover{
  opacity: 0.6;
  cursor: pointer;
}