.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.aboutMe__heading {
  width: 89%;
  height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -1px;
  text-align: left;
  color: #000;
  margin: 0;
  margin-top: 212px;
  margin-bottom: 23px;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .aboutMe__heading {
    width: 87%;
    margin-top: 182px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__heading {
    width: 91%;
    margin-top: 142px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1px;
  }
}

.aboutMe__blocks-title {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  flex-wrap: wrap;
  margin-top: 42px;
  align-items: stretch;
}

@media screen and (max-width: 768px) {
  .aboutMe__blocks-title {
    width: 87%;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__blocks-title {
    width: 91%;
    margin-top: 19px;
  }
}

.aboutMe__block-title {
  width: 52%;
}

@media screen and (max-width: 768px) {
  .aboutMe__block-title {
    width: 53%;
    margin-right: 44px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__block-title {
    order: 1;
    width: 89%;
    min-width: 284px;
    margin-right: 0;
  }
}

.aboutMe__block-title-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .aboutMe__block-title-heading {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__block-title-heading {
    font-size: 30px;
    line-height: 36px;
    margin-top: 40px;
  }
}

.aboutMe__block-title-subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .aboutMe__block-title-subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__block-title-subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}

.aboutMe__block-title-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .aboutMe__block-title-title {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__block-title-title {
    font-size: 11px;
    line-height: 16px;
    margin-top: 22px;
    margin-bottom: 39px;
    letter-spacing: 0.2px;
  }
}

.aboutMe__blocks-title-link {
  margin-top: 100px;
}

.aboutMe__blocks-title-link a:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .aboutMe__blocks-title-link {
    margin-top: 85px;

  }
}

@media screen and (max-width: 320px) {
  .aboutMe__blocks-title-link {
    margin-top: 37px;
  }
}

.aboutMe__block-title-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .aboutMe__block-title-link {
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__block-title-link {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    margin-bottom: 39px;
    letter-spacing: 0.2px;
  }
}

.aboutMe__block-title-image {
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 768px) {
  .aboutMe__block-title-image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__block-title-image {
    order: 0;
    width: 292px;
    height: 352px;
    margin-top: 18px;
  }
}

